PORT=3000
product=https://n7gszaym24.execute-api.us-east-1.amazonaws.com/prod
cart=http://bubalehich-cart-api-prod.us-east-1.elasticbeanstalk.com/api
import=https://s6ftvfd0jc.execute-api.us-east-1.amazonaws.com/prod
CACHE_TTL_SECONDS=120
